In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("./datasets/vehicles_2012-13/vehicles_2012.csv")
result = df

/tmp/ipykernel_10392/3768259544.py:1: DtypeWarning: Columns (5,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./datasets/vehicles_2012-13/vehicles_2012.csv")

In [4]:
result

,Unnamed: 0,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,VEHICLE_ID,STATE_REGISTRATION,VEHICLE_TYPE,VEHICLE_MAKE,VEHICLE_MODEL,...,PRE_CRASH,POINT_OF_IMPACT,VEHICLE_DAMAGE,VEHICLE_DAMAGE_1,VEHICLE_DAMAGE_2,VEHICLE_DAMAGE_3,PUBLIC_PROPERTY_DAMAGE,PUBLIC_PROPERTY_DAMAGE_TYPE,CONTRIBUTING_FACTOR_1,CONTRIBUTING_FACTOR_2
0,0,10385780,100201,2012-09-07,9:03,1,NY,PASSENGER VEHICLE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,NaN
1,9,11804847,2975897,2012-11-26,18:12,2,NY,PASSENGER VEHICLE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Driver Inattention/Distraction,NaN
2,15,11912713,176016,2012-08-11,19:36,2,NY,BICYCLE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,NaN
3,30,8393362,1113,2012-10-26,16:20,2,NY,BICYCLE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,NaN
4,40,10957637,126113,2012-09-04,7:00,2,NY,SPORT UTILITY / STATION WAGON,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lost Consciousness,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198963,3503952,20031907,4443197,2012-08-01,10:22,9d0dc924-e6dd-44d6-a586-4a0cb7ec9c69,NY,Station Wagon/Sport Utility Vehicle,HOND -CAR/SUV,NaN,...,Parked,No Damage,No Damage,No Damage,No Damage,No Damage,N,NaN,Unspecified,Unspecified
198964,3518843,20071660,4461135,2012-09-25,12:36,a61e0531-535e-48d2-9167-84423c060a0a,NY,Station Wagon/Sport Utility Vehicle,HOND -CAR/SUV,NaN,...,Going Straight Ahead,Right Front Bumper,Right Front Bumper,No Damage,No Damage,No Damage,N,NaN,Unspecified,Unspecified
198965,3520165,20071661,4461135,2012-09-25,12:36,ad010be9-a5d3-4f7f-b86c-b770cc35f8b4,NY,Station Wagon/Sport Utility Vehicle,HOND -CAR/SUV,NaN,...,Going Straight Ahead,Left Side Doors,Left Side Doors,Left Side Doors,Left Side Doors,Left Side Doors,N,NaN,Prescription Medication,Unspecified
198966,3575681,19666651,4252952,2012-12-02,22:55,d3cfd5c3-f621-4083-bbc7-b03e21dfc03f,NY,Sedan,TOYT -CAR/SUV,NaN,...,Slowing or Stopping,Center Back End,Center Back End,Left Rear Bumper,Right Rear Bumper,Left Rear Quarter Panel,N,NaN,Unspecified,Unspecified
198967,3679055,19666652,4252952,2012-12-02,22:55,6b62e2a1-f6d8-4fd0-bd32-c2426b1d568c,NY,Station Wagon/Sport Utility Vehicle,FORD -CAR/SUV,NaN,...,Going Straight Ahead,Center Front End,Center Front End,Right Front Bumper,Left Front Bumper,NaN,N,NaN,Following Too Closely,Pavement Slippery

In [5]:
result.isna().sum()

Unnamed: 0                          0
UNIQUE_ID                           0
COLLISION_ID                        0
CRASH_DATE                          0
CRASH_TIME                          0
VEHICLE_ID                          0
STATE_REGISTRATION                435
VEHICLE_TYPE                       37
VEHICLE_MAKE                   198924
VEHICLE_MODEL                  198968
VEHICLE_YEAR                   198924
TRAVEL_DIRECTION               198918
VEHICLE_OCCUPANTS              198919
DRIVER_SEX                     198928
DRIVER_LICENSE_STATUS          198933
DRIVER_LICENSE_JURISDICTION    198932
PRE_CRASH                      198915
POINT_OF_IMPACT                198918
VEHICLE_DAMAGE                 198918
VEHICLE_DAMAGE_1               198934
VEHICLE_DAMAGE_2               198939
VEHICLE_DAMAGE_3               198943
PUBLIC_PROPERTY_DAMAGE         198917
PUBLIC_PROPERTY_DAMAGE_TYPE    198968
CONTRIBUTING_FACTOR_1               3
CONTRIBUTING_FACTOR_2          198919
dtype: int64

In [6]:
result = result.dropna(subset=['VEHICLE_TYPE'])
result

,Unnamed: 0,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,VEHICLE_ID,STATE_REGISTRATION,VEHICLE_TYPE,VEHICLE_MAKE,VEHICLE_MODEL,...,PRE_CRASH,POINT_OF_IMPACT,VEHICLE_DAMAGE,VEHICLE_DAMAGE_1,VEHICLE_DAMAGE_2,VEHICLE_DAMAGE_3,PUBLIC_PROPERTY_DAMAGE,PUBLIC_PROPERTY_DAMAGE_TYPE,CONTRIBUTING_FACTOR_1,CONTRIBUTING_FACTOR_2
0,0,10385780,100201,2012-09-07,9:03,1,NY,PASSENGER VEHICLE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,NaN
1,9,11804847,2975897,2012-11-26,18:12,2,NY,PASSENGER VEHICLE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Driver Inattention/Distraction,NaN
2,15,11912713,176016,2012-08-11,19:36,2,NY,BICYCLE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,NaN
3,30,8393362,1113,2012-10-26,16:20,2,NY,BICYCLE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,NaN
4,40,10957637,126113,2012-09-04,7:00,2,NY,SPORT UTILITY / STATION WAGON,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lost Consciousness,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198963,3503952,20031907,4443197,2012-08-01,10:22,9d0dc924-e6dd-44d6-a586-4a0cb7ec9c69,NY,Station Wagon/Sport Utility Vehicle,HOND -CAR/SUV,NaN,...,Parked,No Damage,No Damage,No Damage,No Damage,No Damage,N,NaN,Unspecified,Unspecified
198964,3518843,20071660,4461135,2012-09-25,12:36,a61e0531-535e-48d2-9167-84423c060a0a,NY,Station Wagon/Sport Utility Vehicle,HOND -CAR/SUV,NaN,...,Going Straight Ahead,Right Front Bumper,Right Front Bumper,No Damage,No Damage,No Damage,N,NaN,Unspecified,Unspecified
198965,3520165,20071661,4461135,2012-09-25,12:36,ad010be9-a5d3-4f7f-b86c-b770cc35f8b4,NY,Station Wagon/Sport Utility Vehicle,HOND -CAR/SUV,NaN,...,Going Straight Ahead,Left Side Doors,Left Side Doors,Left Side Doors,Left Side Doors,Left Side Doors,N,NaN,Prescription Medication,Unspecified
198966,3575681,19666651,4252952,2012-12-02,22:55,d3cfd5c3-f621-4083-bbc7-b03e21dfc03f,NY,Sedan,TOYT -CAR/SUV,NaN,...,Slowing or Stopping,Center Back End,Center Back End,Left Rear Bumper,Right Rear Bumper,Left Rear Quarter Panel,N,NaN,Unspecified,Unspecified
198967,3679055,19666652,4252952,2012-12-02,22:55,6b62e2a1-f6d8-4fd0-bd32-c2426b1d568c,NY,Station Wagon/Sport Utility Vehicle,FORD -CAR/SUV,NaN,...,Going Straight Ahead,Center Front End,Center Front End,Right Front Bumper,Left Front Bumper,NaN,N,NaN,Following Too Closely,Pavement Slippery

In [7]:
result_grped = result.groupby('VEHICLE_TYPE').count()
result_grped

,Unnamed: 0,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,VEHICLE_ID,STATE_REGISTRATION,VEHICLE_MAKE,VEHICLE_MODEL,VEHICLE_YEAR,...,PRE_CRASH,POINT_OF_IMPACT,VEHICLE_DAMAGE,VEHICLE_DAMAGE_1,VEHICLE_DAMAGE_2,VEHICLE_DAMAGE_3,PUBLIC_PROPERTY_DAMAGE,PUBLIC_PROPERTY_DAMAGE_TYPE,CONTRIBUTING_FACTOR_1,CONTRIBUTING_FACTOR_2
VEHICLE_TYPE,,,,,,,,,,,,,,,,,,,,,
AMBULANCE,402,402,402,402,402,402,402,0,0,0,...,0,0,0,0,0,0,0,0,402,0
BICYCLE,2798,2798,2798,2798,2798,2798,2565,0,0,0,...,0,0,0,0,0,0,0,0,2798,0
BUS,3077,3077,3077,3077,3077,3077,3077,0,0,0,...,0,0,0,0,0,0,0,0,3077,0
Bike,3,3,3,3,3,3,0,0,0,0,...,3,3,3,1,1,1,3,0,3,3
Box Truck,2,2,2,2,2,2,2,2,0,2,...,2,2,2,2,2,2,2,0,2,2
E-Scooter,1,1,1,1,1,1,0,0,0,0,...,1,1,1,0,0,0,1,0,1,1
FIRE TRUCK,206,206,206,206,206,206,206,0,0,0,...,0,0,0,0,0,0,0,0,206,0
LARGE COM VEH(6 OR MORE TIRES),3282,3282,3282,3282,3282,3282,3282,0,0,0,...,0,0,0,0,0,0,0,0,3282,0
LIVERY VEHICLE,2251,2251,2251,2251,2251,2251,2251,0,0,0,...,0,0,0,0,0,0,0,0,2251,0
MOTORCYCLE,1252,1252,1252,1252,1252,1252,1250,0,0,0,...,0,0,0,0,0,0,0,0,1252,0
Motorcycle,1,1,1,1,1,1,1,1,0,1,...,1,1,1,1,0,0,1,0,1,1
OTHER,5423,5423,5423,5423,5423,5423,5414,0,0,0,...,0,0,0,0,0,0,0,0,5423,0
PASSENGER VEHICLE,106858,106858,106858,106858,106858,106858,106833,0,0,0,...,1,0,0,0,0,0,0,0,106857,0
PEDICAB,22,22,22,22,22,22,22,0,0,0,...,0,0,0,0,0,0,0,0,22,0
PICK-UP TRUCK,2958,2958,2958,2958,2958,2958,2958,0,0,0,...,0,0,0,0,0,0,0,0,2958,0
Pick-up Truck,2,2,2,2,2,2,2,2,0,2,...,2,2,2,1,1,1,2,0,2,2
SCOOTER,86,86,86,86,86,86,86,0,0,0,...,0,0,0,0,0,0,0,0,86,0
SMALL COM VEH(4 TIRES),3305,3305,3305,3305,3305,3305,3305,0,0,0,...,0,0,0,0,0,0,0,0,3305,0
SPORT UTILITY / STATION WAGON,38603,38603,38603,38603,38603,38603,38595,0,0,0,...,3,0,0,0,0,0,0,0,38603,0
Sedan,24,24,24,24,24,24,23,23,0,23,...,23,24,24,18,16,13,24,0,24,24
Station Wagon/Sport Utility Vehicle,15,15,15,15,15,15,15,15,0,15,...,15,15,15,10,8,7,15,0,15,15
TAXI,7814,7814,7814,7814,7814,7814,7814,0,0,0,...,1,0,0,0,0,0,0,0,7814,0
Taxi,1,1,1,1,1,1,1,1,0,1,...,1,1,1,1,1,1,1,0,1,1
UNKNOWN,14091,14091,14091,14091,14091,14091,13941,0,0,0,...,0,0,0,0,0,0,0,0,14090,0
VAN,6454,6454,6454,6454,6454,6454,6453,0,0,0,...,0,0,0,0,0,0,0,0,6454,0

In [8]:
result["CRASH_DATE"] = pd.to_datetime(result["CRASH_DATE"])
result["ACCIDENT_MONTH"] = result["CRASH_DATE"].dt.month
result

/tmp/ipykernel_10392/3941619500.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result["CRASH_DATE"] = pd.to_datetime(result["CRASH_DATE"])
/tmp/ipykernel_10392/3941619500.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result["ACCIDENT_MONTH"] = result["CRASH_DATE"].dt.month

,Unnamed: 0,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,VEHICLE_ID,STATE_REGISTRATION,VEHICLE_TYPE,VEHICLE_MAKE,VEHICLE_MODEL,...,POINT_OF_IMPACT,VEHICLE_DAMAGE,VEHICLE_DAMAGE_1,VEHICLE_DAMAGE_2,VEHICLE_DAMAGE_3,PUBLIC_PROPERTY_DAMAGE,PUBLIC_PROPERTY_DAMAGE_TYPE,CONTRIBUTING_FACTOR_1,CONTRIBUTING_FACTOR_2,ACCIDENT_MONTH
0,0,10385780,100201,2012-09-07,9:03,1,NY,PASSENGER VEHICLE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,NaN,9
1,9,11804847,2975897,2012-11-26,18:12,2,NY,PASSENGER VEHICLE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Driver Inattention/Distraction,NaN,11
2,15,11912713,176016,2012-08-11,19:36,2,NY,BICYCLE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,NaN,8
3,30,8393362,1113,2012-10-26,16:20,2,NY,BICYCLE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,NaN,10
4,40,10957637,126113,2012-09-04,7:00,2,NY,SPORT UTILITY / STATION WAGON,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lost Consciousness,NaN,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198963,3503952,20031907,4443197,2012-08-01,10:22,9d0dc924-e6dd-44d6-a586-4a0cb7ec9c69,NY,Station Wagon/Sport Utility Vehicle,HOND -CAR/SUV,NaN,...,No Damage,No Damage,No Damage,No Damage,No Damage,N,NaN,Unspecified,Unspecified,8
198964,3518843,20071660,4461135,2012-09-25,12:36,a61e0531-535e-48d2-9167-84423c060a0a,NY,Station Wagon/Sport Utility Vehicle,HOND -CAR/SUV,NaN,...,Right Front Bumper,Right Front Bumper,No Damage,No Damage,No Damage,N,NaN,Unspecified,Unspecified,9
198965,3520165,20071661,4461135,2012-09-25,12:36,ad010be9-a5d3-4f7f-b86c-b770cc35f8b4,NY,Station Wagon/Sport Utility Vehicle,HOND -CAR/SUV,NaN,...,Left Side Doors,Left Side Doors,Left Side Doors,Left Side Doors,Left Side Doors,N,NaN,Prescription Medication,Unspecified,9
198966,3575681,19666651,4252952,2012-12-02,22:55,d3cfd5c3-f621-4083-bbc7-b03e21dfc03f,NY,Sedan,TOYT -CAR/SUV,NaN,...,Center Back End,Center Back End,Left Rear Bumper,Right Rear Bumper,Left Rear Quarter Panel,N,NaN,Unspecified,Unspecified,12
198967,3679055,19666652,4252952,2012-12-02,22:55,6b62e2a1-f6d8-4fd0-bd32-c2426b1d568c,NY,Station Wagon/Sport Utility Vehicle,FORD -CAR/SUV,NaN,...,Center Front End,Center Front End,Right Front Bumper,Left Front Bumper,NaN,N,NaN,Following Too Closely,Pavement Slippery,12

In [9]:
result_grped = result.groupby('ACCIDENT_MONTH').count()
result_grped

,Unnamed: 0,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,VEHICLE_ID,STATE_REGISTRATION,VEHICLE_TYPE,VEHICLE_MAKE,VEHICLE_MODEL,...,PRE_CRASH,POINT_OF_IMPACT,VEHICLE_DAMAGE,VEHICLE_DAMAGE_1,VEHICLE_DAMAGE_2,VEHICLE_DAMAGE_3,PUBLIC_PROPERTY_DAMAGE,PUBLIC_PROPERTY_DAMAGE_TYPE,CONTRIBUTING_FACTOR_1,CONTRIBUTING_FACTOR_2
ACCIDENT_MONTH,,,,,,,,,,,,,,,,,,,,,
7,33885,33885,33885,33885,33885,33885,33787,33885,8,0,...,11,9,9,4,3,3,9,0,33884,9
8,34232,34232,34232,34232,34232,34232,34146,34232,8,0,...,9,9,9,8,8,8,9,0,34232,9
9,32832,32832,32832,32832,32832,32832,32754,32832,7,0,...,8,9,9,7,4,2,9,0,32832,9
10,33136,33136,33136,33136,33136,33136,33073,33136,7,0,...,10,7,7,4,3,2,7,0,33136,7
11,31222,31222,31222,31222,31222,31222,31161,31222,1,0,...,2,2,2,0,0,0,2,0,31222,2
12,33624,33624,33624,33624,33624,33624,33577,33624,13,0,...,13,13,13,11,11,10,13,0,33623,13

In [12]:
df = pd.read_csv("./datasets/archive/WeatherEvents_Jan2016-Dec2022.csv")

,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),Precipitation(in),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode
999238,W-1054364,Cold,Severe,2016-01-08 16:51:00,2016-01-08 17:51:00,0.00,US/Eastern,KNYC,40.7790,-73.9692,New York,New York,NY,10024.0
999239,W-1054365,Cold,Severe,2016-01-09 15:51:00,2016-01-09 16:26:00,0.00,US/Eastern,KNYC,40.7790,-73.9692,New York,New York,NY,10024.0
999240,W-1054366,Rain,Light,2016-01-09 17:51:00,2016-01-09 18:51:00,0.00,US/Eastern,KNYC,40.7790,-73.9692,New York,New York,NY,10024.0
999241,W-1054367,Rain,Light,2016-01-10 07:51:00,2016-01-10 09:39:00,0.14,US/Eastern,KNYC,40.7790,-73.9692,New York,New York,NY,10024.0
999242,W-1054368,Rain,Moderate,2016-01-10 09:39:00,2016-01-10 10:02:00,0.48,US/Eastern,KNYC,40.7790,-73.9692,New York,New York,NY,10024.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1925365,W-2031380,Rain,Light,2022-12-31 16:05:00,2022-12-31 16:17:00,0.00,US/Eastern,KJRB,40.7012,-74.0090,New York,New York,NY,10004.0
1925366,W-2031381,Fog,Severe,2022-12-31 16:17:00,2022-12-31 18:14:00,0.00,US/Eastern,KJRB,40.7012,-74.0090,New York,New York,NY,10004.0
1925367,W-2031382,Rain,Light,2022-12-31 18:14:00,2022-12-31 21:35:00,0.07,US/Eastern,KJRB,40.7012,-74.0090,New York,New York,NY,10004.0
1925368,W-2031383,Fog,Severe,2022-12-31 21:35:00,2022-12-31 22:28:00,0.00,US/Eastern,KJRB,40.7012,-74.0090,New York,New York,NY,10004.0
1925369,W-2031384,Rain,Light,2022-12-31 22:38:00,2022-12-31 23:35:00,0.00,US/Eastern,KJRB,40.7012,-74.0090,New York,New York,NY,10004.0

In [13]:
df = df[df["City"]=="New York"]

,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),Precipitation(in),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode
999238,W-1054364,Cold,Severe,2016-01-08 16:51:00,2016-01-08 17:51:00,0.00,US/Eastern,KNYC,40.7790,-73.9692,New York,New York,NY,10024.0
999239,W-1054365,Cold,Severe,2016-01-09 15:51:00,2016-01-09 16:26:00,0.00,US/Eastern,KNYC,40.7790,-73.9692,New York,New York,NY,10024.0
999240,W-1054366,Rain,Light,2016-01-09 17:51:00,2016-01-09 18:51:00,0.00,US/Eastern,KNYC,40.7790,-73.9692,New York,New York,NY,10024.0
999241,W-1054367,Rain,Light,2016-01-10 07:51:00,2016-01-10 09:39:00,0.14,US/Eastern,KNYC,40.7790,-73.9692,New York,New York,NY,10024.0
999242,W-1054368,Rain,Moderate,2016-01-10 09:39:00,2016-01-10 10:02:00,0.48,US/Eastern,KNYC,40.7790,-73.9692,New York,New York,NY,10024.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1925365,W-2031380,Rain,Light,2022-12-31 16:05:00,2022-12-31 16:17:00,0.00,US/Eastern,KJRB,40.7012,-74.0090,New York,New York,NY,10004.0
1925366,W-2031381,Fog,Severe,2022-12-31 16:17:00,2022-12-31 18:14:00,0.00,US/Eastern,KJRB,40.7012,-74.0090,New York,New York,NY,10004.0
1925367,W-2031382,Rain,Light,2022-12-31 18:14:00,2022-12-31 21:35:00,0.07,US/Eastern,KJRB,40.7012,-74.0090,New York,New York,NY,10004.0
1925368,W-2031383,Fog,Severe,2022-12-31 21:35:00,2022-12-31 22:28:00,0.00,US/Eastern,KJRB,40.7012,-74.0090,New York,New York,NY,10004.0
1925369,W-2031384,Rain,Light,2022-12-31 22:38:00,2022-12-31 23:35:00,0.00,US/Eastern,KJRB,40.7012,-74.0090,New York,New York,NY,10004.0

In [20]:
def crashDateFunction(row):
    return str(row)[0:10]

In [22]:
df.columns

Index(['EventId', 'Type', 'Severity', 'StartTime(UTC)', 'EndTime(UTC)',
       'Precipitation(in)', 'TimeZone', 'AirportCode', 'LocationLat',
       'LocationLng', 'City', 'County', 'State', 'ZipCode', 'CRASH DATE'],
      dtype='object')

In [23]:
df["CRASH DATE"] = df["StartTime(UTC)"].map(crashDateFunction)
df = df.drop(["StartTime(UTC)","EndTime(UTC)"],axis=1)
df

,EventId,Type,Severity,Precipitation(in),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode,CRASH DATE
999238,W-1054364,Cold,Severe,0.00,US/Eastern,KNYC,40.7790,-73.9692,New York,New York,NY,10024.0,2016-01-08
999239,W-1054365,Cold,Severe,0.00,US/Eastern,KNYC,40.7790,-73.9692,New York,New York,NY,10024.0,2016-01-09
999240,W-1054366,Rain,Light,0.00,US/Eastern,KNYC,40.7790,-73.9692,New York,New York,NY,10024.0,2016-01-09
999241,W-1054367,Rain,Light,0.14,US/Eastern,KNYC,40.7790,-73.9692,New York,New York,NY,10024.0,2016-01-10
999242,W-1054368,Rain,Moderate,0.48,US/Eastern,KNYC,40.7790,-73.9692,New York,New York,NY,10024.0,2016-01-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1925365,W-2031380,Rain,Light,0.00,US/Eastern,KJRB,40.7012,-74.0090,New York,New York,NY,10004.0,2022-12-31
1925366,W-2031381,Fog,Severe,0.00,US/Eastern,KJRB,40.7012,-74.0090,New York,New York,NY,10004.0,2022-12-31
1925367,W-2031382,Rain,Light,0.07,US/Eastern,KJRB,40.7012,-74.0090,New York,New York,NY,10004.0,2022-12-31
1925368,W-2031383,Fog,Severe,0.00,US/Eastern,KJRB,40.7012,-74.0090,New York,New York,NY,10004.0,2022-12-31
1925369,W-2031384,Rain,Light,0.00,US/Eastern,KJRB,40.7012,-74.0090,New York,New York,NY,10004.0,2022-12-31

In [28]:
plt.rcParams['figure.figsize'] = (40,20)
datasets = []
for i in range(2016, 2024):
    
    file = f"./datasets/crashes_2012-23/crashes_{i}.csv"

    result = pd.read_csv(file)
    result.dropna(subset=['CRASH DATE',"CRASH TIME"], inplace=True)
    
    # result["CRASH DATE"] = pd.to_datetime(result["CRASH DATE"])
    # result["ACCIDENT_MONTH"] = result["CRASH DATE"].dt.month

    # result_grped = result.groupby('VEHICLE_TYPE').count()['CRASH_DATE']



    # result['DateTime'] = pd.to_datetime(result['CRASH DATE'] + ' ' + result['CRASH TIME'])
    # df['StartTime(UTC)'] = pd.to_datetime(df['StartTime(UTC)'])
    # df['EndTime(UTC)'] = pd.to_datetime(df['EndTime(UTC)'])

    # Merge based on the condition that DateTime is between StartDate and EndDate
    result.sort_values("CRASH DATE",inplace=True)
    df.sort_values("CRASH DATE",inplace=True)
    result_df = pd.merge(result, df,on="CRASH DATE")
    # Drop unnecessary columns and reset the index
    # result_df = result_df[['Date', 'Time', 'Value1', 'Value2']]
    # result_df.reset_index(drop=True, inplace=True)

    # print(result_df)
    result_df_new = result_df.groupby(by=["Severity","Type"]).count()
    result_df_new
    display(result_df_new)
    break
    # plt.subplot(3,4,i-2011)
    # result_grped.plot.bar()
    # plt.title(f"Accident numbers per month in {i}")
    # plt.ylabel("Number of accigdents")
    

# plt.show()

                        Unnamed: 0  CRASH DATE  CRASH TIME  BOROUGH  ZIP CODE  \
Severity Type
Heavy    Rain                23940       23940       23940    15455     15447
         Snow                 7420        7420        7420     5902      5901
Light    Rain               231432      231432      231432   153080    153038
         Snow                23658       23658       23658    17552     17549
Moderate Fog                 56907       56907       56907    38304     38295
         Rain                64894       64894       64894    42457     42440
         Snow                10641       10641       10641     8145      8143
Severe   Cold                39360       39360       39360    25174     25153
         Fog                 22734       22734       22734    15233     15230
         Storm                1236        1236        1236      877       877
UNK      Precipitation      184955      184955      184955   116164    116113

                        LATITUDE  LONGITUDE  LOCATION  ON STREET NAME  \
Severity Type
Heavy    Rain              21431      21431     21431           18853
         Snow               6692       6692      6692            6388
Light    Rain             196065     196065    196065          178355
         Snow              19798      19798     19798           19306
Moderate Fog               48389      48389     48389           44001
         Rain              57662      57662     57662           51330
         Snow               9312       9312      9312            8854
Severe   Cold              35759      35759     35759           30419
         Fog               20350      20350     20350           18009
         Storm               529        529       529             848
UNK      Precipitation    174545     174545    174545          145620

                        CROSS STREET NAME  ...  EventId  Precipitation(in)  \
Severity Type                              ...
Heavy    Rain                       13123  ...    23940              23940
         Snow                        6054  ...     7420               7420
Light    Rain                      131358  ...   231432             231432
         Snow                       17820  ...    23658              23658
Moderate Fog                        33008  ...    56907              56907
         Rain                       36839  ...    64894              64894
         Snow                        8129  ...    10641              10641
Severe   Cold                       20404  ...    39360              39360
         Fog                        13323  ...    22734              22734
         Storm                        708  ...     1236               1236
UNK      Precipitation              93101  ...   184955             184955

                        TimeZone  AirportCode  LocationLat  LocationLng  \
Severity Type
Heavy    Rain              23940        23940        23940        23940
         Snow               7420         7420         7420         7420
Light    Rain             231432       231432       231432       231432
         Snow              23658        23658        23658        23658
Moderate Fog               56907        56907        56907        56907
         Rain              64894        64894        64894        64894
         Snow              10641        10641        10641        10641
Severe   Cold              39360        39360        39360        39360
         Fog               22734        22734        22734        22734
         Storm              1236         1236         1236         1236
UNK      Precipitation    184955       184955       184955       184955

                          City  County   State  ZipCode
Severity Type
Heavy    Rain            23940   23940   23940    23940
         Snow             7420    7420    7420     7420
Light    Rain           231432  231432  231432   231432
         Snow            23658   23658   23658    23658
Moderate Fog             56907   56907   56907    56907
         Rain            64894   64894   64894    64894
         Snow            10641   10641   10641    10641
Severe   Cold            39360   39360   39360    39360
         Fog             22734   22734   22734    22734
         Storm            1236    1236    1236     1236
UNK      Precipitation  184955  184955  184955   184955

[11 rows x 40 columns]